* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

input:focus {
  outline: none;
}
