.dashboard-wrapper {
  height: 100svh;
  overflow: scroll;
  position: relative;
  /* border: 1px solid purple; */
  display: grid;
  grid-template-areas: "nav-header" "tags" "feed";
  grid-template-rows: 130px 200px 1fr;
}

.dashboard-tags-wrapper {
  grid-area: "tags";
  /* border: 1px solid burlywood; */
  color: white;
  display: grid;
  grid-template-areas: "title tags links";
  grid-template-columns: 20% 30% 50%;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
}

.tags-title-wrapper {
  grid-area: title;
  /* border: 1px solid orange; */
  margin-left: 20px;
}

/* .tags-title {
  margin-left: 20px;
} */

.tags-wrapper {
  grid-area: tags;
  /* border: 1px solid purple; */
}

.tag {
  color: rgb(120, 120, 120);
  margin-bottom: -5px;
}

.tag:hover {
  color: white;
  cursor: pointer;
}

.links-wrapper {
  grid-area: links;
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
}

.links-link {
  color: rgb(120, 120, 120);
  margin-bottom: -5px;
}

.links-link:hover {
  color: white;
  cursor: pointer;
}

/* .tag-links {
  color: orange;
} */

/* .tags-purpose {
  color: rgb(120, 120, 120);
  border: 1px solid salmon;
  height: 100%;
  margin-right: 20px;
} */

.dashboard-feed-wrapper {
  grid-area: "feed";
  border: 1px solid red;
}
