.home-wrapper {
  height: 100svh;
  /* border: 1px solid green; */
  position: relative;
  overflow: hidden;
  background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 15px,
      rgb(16, 16, 16) 15px,
      rgb(16, 16, 16) 16px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 18px,
      rgb(24, 24, 24) 18px,
      rgb(24, 24, 24) 19px
    ),
    linear-gradient(30deg, rgb(0, 0, 0), rgb(80, 80, 80));
  /* background-image: url("../assets/cutting_mat_green.png"); */
}

.moon-wrapper {
  height: 100%;
  overflow: hidden;
}

/* #canvas {
} */

.digital-twins {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 20px;
  font-size: 64px;
  color: rgb(58, 53, 45);
  /* include mixed blend mode for platform overlay */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-form-wrapper {
}

.home-input {
  background-color: transparent;
  /* border: 1px solid orange; */
  border: none;
  /* border-bottom: 2px solid white; */
  height: 30px;
  /* width: max-content; */
  /* text-align: center; */
  color: white;
  font-size: 24px;
  /* overflow: hidden; */
}

.home-wrapper:focus {
  outline: none;
}

.home-button {
}
