#canvas {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  height: 100svh !important;
  /* border: 1px solid green; */
  background-color: rgb(0, 0, 0);
}

.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  z-index: 1;
  border-bottom: 1px solid orange;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 50px,
      rgb(15, 15, 15) 50px,
      rgb(30, 30, 30) 51px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 50px,
      rgb(40, 40, 40) 50px,
      rgb(40, 40, 40) 51px
    ),
    linear-gradient(90deg, black, rgb(20, 20, 20));
}

.digital-twins {
  position: absolute;
  top: 100%;
  left: 5%;
  transform: translateY(-50%) rotate(180deg);
  /* z-index: 2; */
  color: white;
  font-size: 68px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  user-select: none;
}

.login-form-wrapper {
  border: 1px solid orange;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  /* height: 80%; */
}
